@font-face {
	font-family: 'Sohne';
	src: url('fonts/Sohne-ExtrafettKursiv.woff2') format('woff2'),
		url('fonts/Sohne-ExtrafettKursiv.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Sohne';
	src: url('fonts/Sohne-Buch.woff2') format('woff2'), url('fonts/Sohne-Buch.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sohne';
	src: url('fonts/Sohne-DreiviertelfettKursiv.woff2') format('woff2'),
		url('fonts/Sohne-DreiviertelfettKursiv.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Sohne';
	src: url('fonts/Sohne-BuchKursiv.woff2') format('woff2'),
		url('fonts/Sohne-BuchKursiv.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Sohne';
	src: url('fonts/Sohne-Dreiviertelfett.woff2') format('woff2'),
		url('fonts/Sohne-Dreiviertelfett.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sohne';
	src: url('fonts/Sohne-Extrafett.woff2') format('woff2'),
		url('fonts/Sohne-Extrafett.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sohne';
	src: url('fonts/Sohne-HalbfettKursiv.woff2') format('woff2'),
		url('fonts/Sohne-HalbfettKursiv.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Sohne';
	src: url('fonts/Sohne-Extraleicht.woff2') format('woff2'),
		url('fonts/Sohne-Extraleicht.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sohne';
	src: url('fonts/Sohne-Fett.woff2') format('woff2'), url('fonts/Sohne-Fett.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sohne';
	src: url('fonts/Sohne-ExtraleichtKursiv.woff2') format('woff2'),
		url('fonts/Sohne-ExtraleichtKursiv.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Sohne';
	src: url('fonts/Sohne-KraftigKursiv.woff2') format('woff2'),
		url('fonts/Sohne-KraftigKursiv.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Sohne';
	src: url('fonts/Sohne-Kraftig.woff2') format('woff2'),
		url('fonts/Sohne-Kraftig.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sohne';
	src: url('fonts/Sohne-Leicht.woff2') format('woff2'),
		url('fonts/Sohne-Leicht.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sohne';
	src: url('fonts/Sohne-LeichtKursiv.woff2') format('woff2'),
		url('fonts/Sohne-LeichtKursiv.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Sohne';
	src: url('fonts/Sohne-FettKursiv.woff2') format('woff2'),
		url('fonts/Sohne-FettKursiv.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Sohne';
	src: url('fonts/Sohne-Halbfett.woff2') format('woff2'),
		url('fonts/Sohne-Halbfett.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
