:root {
	/* Typography */
	--ff-sans: 'Sohne', sans-serif;

	/* Colors */
	--red: #f64e4d;
	--green: #10ac84;

	/* Overriding Reveal theme */
	--r-main-font: var(--ff-sans);
	--r-main-font-size: 5rem;
	--r-heading-text-transform: unset;
}
