:root {
	/* ---------- */
	/* Typography */
	/* ---------- */
	--ff-sans: 'Sohne', sans-serif;

	/* ------ */
	/* Radius */
	/* ------ */
	--radii-sm: 0.25em;
	--radii-md: 0.5em;
	--radii-lg: 1em;

	/* ------ */
	/* Colors */
	/* ------ */
	--red: #f64e4d;
	--green: #10ac84;

	/* Greyscale */
	--base-grey: 210, 10%;
	--palette-grey-10-hsl: var(--base-grey), 10%;
	--palette-grey-10: hsla(var(--palette-grey-10-hsl), 100%);
	--palette-grey-15-hsl: var(--base-grey), 15%;
	--palette-grey-15: hsla(var(--palette-grey-15-hsl), 100%);
	--palette-grey-20-hsl: var(--base-grey), 20%;
	--palette-grey-20: hsla(var(--palette-grey-20-hsl), 100%);
	--palette-grey-30-hsl: var(--base-grey), 30%;
	--palette-grey-30: hsla(var(--palette-grey-30-hsl), 100%);
	--palette-grey-40-hsl: var(--base-grey), 40%;
	--palette-grey-40: hsla(var(--palette-grey-40-hsl), 100%);
	--palette-grey-50-hsl: var(--base-grey), 50%;
	--palette-grey-50: hsla(var(--palette-grey-50-hsl), 100%);
	--palette-grey-60-hsl: var(--base-grey), 60%;
	--palette-grey-60: hsla(var(--palette-grey-60-hsl), 100%);
	--palette-grey-70-hsl: var(--base-grey), 70%;
	--palette-grey-70: hsla(var(--palette-grey-70-hsl), 100%);
	--palette-grey-80-hsl: var(--base-grey), 80%;
	--palette-grey-80: hsla(var(--palette-grey-80-hsl), 100%);
	--palette-grey-90-hsl: var(--base-grey), 90%;
	--palette-grey-90: hsla(var(--palette-grey-90-hsl), 100%);
	--palette-grey-95-hsl: var(--base-grey), 95%;
	--palette-grey-95: hsla(var(--palette-grey-95-hsl), 100%);
	--palette-grey-100-hsl: var(--base-grey), 100%;
	--palette-grey-100: hsla(var(--palette-grey-100-hsl), 100%);

	/* Overriding Reveal theme */
	--r-main-font: var(--ff-sans);
	--r-main-font-size: 5rem;
	--r-heading-text-transform: unset;
}
